header, section {
  padding: 0.5em;
}

h1, h2 {
  margin: 0;
}

header {
  background-color: #5588ff;
  color: white;
}

button,
input {
  align-items: center;
  background-color: white;
  border: 1px solid #dbdbdb;
  border-radius: 4px;
  box-shadow: none;
  color: #363636;
  display: inline-flex;
  font-size: 0.75rem;
  height: 2.25em;
  line-height: 1.5;
  padding: calc(0.375em - 1px) 0.75em;
  position: relative;
  text-align: center;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;

  &:focus {
    outline-width: 2px;
  }
  &:hover {
    border-color: #b5b5b5;
  }
}

button {
  .svg-inline--fa {
    &:first-child:not(:last-child) {
      margin-right: 0.5em;
    }
    &:last-child:not(:first-child) {
      margin-left: 0.5em;
    }
  }
}

input {
  height: 1.5em;
  text-align: left;
}

label {
  display: block;
  margin-bottom: 0.5em;

  input {
    display: block;
  }
}

table {
  margin-top: 0.5em;
  width: 100%;

  th {
    text-align: left;
  }
}

.button-group {
  button {
    box-sizing: border-box;

    &:not(:first-child) {
      border-bottom-left-radius: 0;
      // border-left: 0;
      border-top-left-radius: 0;
    }

    &:not(:last-child) {
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;
    }
  }
}
.buttons {
  button {
    margin-right: 0.5em;
  }
}

.input-group {
  button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 0;
  }
}
